<!DOCTYPE html>
<!-- Template by Quackit.com -->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Galería al natural</title>
    <link href="../../home/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../home/css/custom.css" rel="stylesheet">

</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                	<span class="glyphicon glyphicon-fire"></span> 
                	CICE
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="/home">Home</a>
                    </li>
                    <li class="active" >
                        <a href="/gallery">Gallery</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Galería de Fotografías
                    <small>"Naturaleza al natural..."</small>
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="../../images/hormigas.jpeg" alt="">
                </a>
                <h3>
                    <a href="#">Hormigas al natural</a>
                </h3>
                <p>Hormigas muy guapas totalmente al natural</p>
            </div>
            <div class="col-md-6 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="../../images/atardecer.jpeg" alt="">
                </a>
                <h3>
                    <a href="#">Atardecer al natural</a>
                </h3>
                <p>Un atardecer muy lindo al natural</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="../../images/rocas.jpeg" alt="">
                </a>
                <h3>
                    <a href="#">Rocas al natural</a>
                </h3>
                <p>Unas rocas muy fuertes al natural</p>
            </div>
            <div class="col-md-6 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="../../images/otono.jpeg" alt="">
                </a>
                <h3>
                    <a href="#">Otoño al natural</a>
                </h3>
                <p>Un Otoño con muchas hojas al natural</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="../../images/cielo.jpeg" alt="">
                </a>
                <h3>
                    <a href="#">Cielo al natural</a>
                </h3>
                <p>Un cielo muy soleado, al natural</p>
            </div>
            <div class="col-md-6 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="../../images/flores.jpeg" alt="">
                </a>
                <h3>
                    <a href="#">Flores al natural</a>
                </h3>
                <p>Unas flores muy coloridas, y totalmente al natural</p>
            </div>
        </div>

    </div>
	
    <script src="../../home/js/jquery-1.11.3.min.js"></script>

    <script src="../../home/js/bootstrap.min.js"></script>

</body>

</html>
