<!DOCTYPE html>
<html>
    <head>
        <meta charset="uft-8" />
        <title>Hello World - About</title>
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <div class="box">
            <h1>Hello World - About</h1>
            <a href="home">home</a>
            <a href="about">about</a>
        </div>
        <br><br>
        <div>
            <script type="text/javascript" src="/js/GetRandomImage.js"></script>
            <input class="button" type="button" onclick="getRandomImage()" value="Get a random image...">
            <img id=demo class="resize" alt="" />
        </div>    
    </body>
</html>
