<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Document</title>
        <link ref="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <div class="main-div">
            <p class="main-p">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio
                minima, ipsa vitae, facilis, cum labore quaerat inventore nemo
                voluptatibus a aliquam perspiciatis quo voluptas hic? Amet
                minima animi libero autem?
            </p>
        </div>
    </body>
</html>
