<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div>
        <nav>
            <ul>
                <li><a href="/home">HOME</a></li>
                <li><a href="/about">ABOUT</a></li>
                <li><a href="/movieSearch">MOVIE SEARCH!</a>
                    <ul><li><a href="">Servicio 1</a></li>
                        <li><a href="">Servicio 2</a></li>
                        <li><a href="">Servicio 3</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <h1>Bienvenido a about</h1>
    </div>
</body>
</html>