<!DOCTYPE html>
<html>
    <head>
        <meta charset="uft-8" />
        <title>Hello World - Home</title>
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <div class="box">
            <h1>Hello World - Home</h1>
            <a href="home">home</a>
            <a href="about">about</a>
        </div>
        <p>Some images have been selected for your enjoyment... </p>
        <img class="resize" src="image01.jpg" alt="" />
        <img class="resize" src="image02.jpg" alt="" />
        <img class="resize" src="image03.jpg" alt="" />
        <img class="resize" src="image04.jpg" alt="" />
    </body>
</html>
