
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <!-- JS included -->
    <script type="text/javascript" src='/js/methods.js'> </script>
</head>
<body>
    <div>
        <nav>
            <ul>
                <li><a href="/home">HOME</a></li>
                <li><a href="/about">ABOUT</a></li>
                <li><a href="/movieSearch">MOVIE SEARCH!</a>
                    <ul><li><a href="">Servicio 1</a></li>
                        <li><a href="">Servicio 2</a></li>
                        <li><a href="">Servicio 3</a></li>
                    </ul>
                </li>
            </ul>
        </nav>        
        <h1>Cartelera</h1>
    </div>
    <div>
        <img src="/images/a_wrinkle_in_time.jpg" alt="">
        <img src="/images/black_panter.jpg" alt="">
        <img src="/images/gringo.jpg" alt="">
        <img src="/images/hurricane_heist.jpg" alt="">
        <img src="/images/red_sparrow.jpg" alt="">
        <img src="/images/the_leisure_seeker.jpg" alt="">
        <img src="/images/the_strangers.jpg" alt="">
        <img src="/images/Thoroughbreds.jpg" alt="">
    </div>



</body>
</html>